/*Add size, margin and other non-style spesific things in this file*/

/*All files*/
.hidden {
	display: none !important;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}


.selector{
	font-family: "Roboto","Segoe UI";
	font-weight: bold;
	padding: 5px;
	position: fixed;
	top: 10px;
	right: 20px;
}

.selector option{
	font-size: 20px;	
	font-family: "Roboto", "Segoe UI";
	font-weight: 400;
	text-align: inherit;
	line-height: 1.5;
}

input {
	font-size: large;
	font-family: sans-serif;
	text-align: center;
	/*border-radius: .25rem;*/
}

select{
	border-width: 1px;
	border-radius: 1px;
	font-size: large;
	width: 55%;
	padding: 0.1em;

}

#theme-selector{
	margin: 0px;
	width: 5%;
	min-width: 150px;
	top: 4px;
}

input[type="text"], input[type="number"], select{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: none;
    width: auto;
}

/* remove scroll bar on number inputs*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}