/*Add size, margin and other non-theme spesific things in this file */

/* GENERAL */

	 :root {
		--transition-time : 0.3s ;
	}

	* {
		font-weight : 100 ;
	}

	html {
		position : relative ;
		min-height : 100% ;
	}

	body {
		font-family : "Roboto","Segoe UI" ;
		height: 100vh ;
	}

	.hidden {
		display : none !important ;
	}

	h1, h2, h3 {
		font-weight : 100 ;
	}

	.custom-file-label::after {
		/* Remove browse button */
		content : none !important ;
	}

	.custom-file-label {
		border-radius : .2em !important ;
	}

	.row {
		margin-top : 2vh ;
		margin-bottom : 2vh ;
	}

	section {
		margin-top : 5vh ;
		margin-bottom : 5vh ;
	}
	
/* NAVBAR */

	.navbar:not(#navbar) {
		padding-left : 0px !important ;
		padding-right : 0px !important ;
	}

	#themeDropdown, #languageDropdown {
		border :  none ;
	}

	.langList, .themeList {
		box-shadow : 0px 0px 0.1rem 0.1rem rgba(0,0,0,0.2)
	}

/* TOOLS*/

	small.note {
		padding : 5px ;
	}

/* UNKNOWN */

	input[type="text"], input[type="number"], td.sex select, td.teamClass select, td.teamSex select {
		border : none ;
		outline : none ;
		background : transparent ;
		width : auto ;
	}
