body{
  background-color: #202020;
  color: white;
}

.btn-outline-primary{
  color: white;
}

.btn:disabled{
  opacity: 1;
}

.btn-outline-primary:disabled{
  color: white;
}

button, input !important{
  background-color: #202020;
  color: white;
  font-size: large;
  font-family: sans-serif;
  text-align: center;
  border-radius: .25rem;
  
}

input{
  background-color: #333333;
  color: white;
  font-size: large;
	font-family: sans-serif;
	text-align: center;
	border-radius: .25rem;
}

#meetName {
  border-width: 0px;
  font-family: Roboto;
  background-color: #333333;
}

#importMedley{
  border-width: 0px;
  font-family: Roboto;
  background-color: #333333;
  color: white;
  font-weight: bold;
}

#activeClub{
  border-width: 0px;
  font-family: Roboto;
  background-color: #333333;
  color: white;
  font-weight: bold;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    background-color: #202020 !important;
    background-image: none !important;
    color: white !important;
}

.form-control{
  background-color: #202020;
  color: white;
}


.btn{
  color: white;
}

container {
  background-color: #202020;
}

th.t{
color: white;
}

td.eventName{
color: white;
}

td.eventId{
color: white;
}
td{
color: white;
}

.personRow:hover, .personRow:hover + .edit, .edit:hover, .teamRow:hover, .teamRow:hover + .edit {
	background-color: rgba(43,76,125,0.5);
}

input[type="text"]{
border-width: 1px;
border-color: #007bff;
}
input[type="number"]{
border-width: 1px;
border-color: #007bff;
}
select{
    background-color: #222222;
    color: white;
		border-color: #007bff;
}

input#importFile{
	border-color: #007bff;
}

select#importMedley{
border-color: #007bff;

}
input#meetName{
border-color: #007bff;

}
div#confirmationBody{
color: black;
}
h5#confirmationTitle{
color: black;
}