html {
  background-color: #202020;
}

body{
  background-color: #202020;
}

h1{
  color: #FFF;
}

h2{
  color: #FFF;
}

h3{
  color: #FFF;
}
h4{
  color: #FFF;
}

.table{
  color: #FFF;
}

label {
  color: #FFF;
}

.btn-outline-primary{
  color: #FFF;
}

.btn:disabled{
  opacity: 1;
}

.btn-outline-primary:disabled{
  color: #FFF;
}

button, input !important{
  background-color: #202020;
  color: #FFF;
  font-size: large;
  font-family: sans-serif;
  text-align: center;
  border-radius: .25rem;
  
}

input{
  background-color: #202020;
  color: #FFF;
  font-size: large;
  font-family: sans-serif;
  text-align: center;
  border-radius: .25rem;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    background-color: #202020; !important;
    background-image: none !important;
    color: #FFF !important;
}



.form-control{
  background-color: #202020;
  color: #FFF;
}


.btn{
  color: #FFF;
  background-color: #007bff;
  border-color: #007bff;
}

container {
  background-color: #202020;
}
