/*Dark theme. Add only colors to this file*/

/*
    COLOR CHEMA

    #ffffff   - text
    #000000   - text secondary
    #222222   - background
    #1793d1   - theme color. Top nav bar. Button color
    #1793d157 - secondary theme color. Hover effects

    Missing:
    - color for links on hover
*/

    body {
        background-color: #222222;
    }

    h1, h2, h3, h4, h5, h6, i, label, a{
        color: #ffffff;
    }

/* NAVBAR */

    #navbar{
        background-color: #1793d1;
    }

    .navbar-brand{
        color: #ffffff;
    }

    #themeDropdown, #languageDropdown{
        background-color: #333333;
        color: #ffffff;
    }

    .dropdown-menu, .dropdown-item{
        background-color: #333333;
        color: #ffffff;
    }

    .dropdown-item:hover{
        background-color: #1793d157;
        color: #ffffff;
    }

/* TOOLS */
    body > div.container > small > span{
        color: #ffffff;
    }

    #toolList{
        background-color: #333333;
    }

/* UNI_P Modal import from TIV */

    .modal-content{
        background-color:#333333;
        color: #ffffff;
    }

/* UNI_P Modal add new club*/

    #modal-add-club-info, #modal-add-club-info:focus, .modal-content{
        background-color: #222222;
        color: #ffffff;
    }

    #modal-add-club-content{
        background-color: #333333;
        color: white;
    }

/* UNI_P Meet Details */

    #meetName, .custom-file-label, #importMedley{
        background-color:#333333;
        color: #ffffff;
    }

    #meetName:hover, #importMedley:hover{

    }

/* UNI_P Club Settings */

    .autocomplete-suggestion, #clubName{
        background-color: #333333;
        color: #ffffff;
    }

    .autocomplete-suggestion:hover, .autocomplete-selected{
        background-color: #1793d157;
        color: #ffffff;
    }

/* UNI_P Participants */

    #tabButtonparticipantSingle, #tabButtonparticipantTeam{
        background: transparent;
        border-color: #1793d1 !important;
        color: #ffffff;
    }

    #tabButtonparticipantSingle:hover, #tabButtonparticipantTeam:hover{
        background-color: #1793d157 !important;
        color: #ffffff !important;
    }

    #tabButtonparticipantSingle.disabled, #tabButtonparticipantSingle:disabled, #tabButtonparticipantTeam.disabled, #tabButtonparticipantTeam:disabled {
        color: #ffffff !important;
        border-color: #1793d1 !important;
    }

    #participantList, .personRow td input, .personRow td select, .eventTable, .eventTime input[type="text"]{
        color: #ffffff;
    }

    #teamList, .teamRow td input, .teamRow td select{
        color: #ffffff;
    }

    .personRow:hover, .teamRow:hover, .eventTable tr:hover{
        background-color: #1793d157;
    }

    .personName input:focus, .age input:focus, .sex select:focus{
        border-bottom: 1px solid#1793d1;
    }

    .teamName input:focus, .teamClass select:focus, .teamSex select:focus, input.delete-athlete:focus, td.events a:focus{
        border-bottom: 1px solid#1793d1;
    }

/* UNI_P Summary */

    #makeUnip{
        background-color: #333333;
        border: none;
        color: #ffffff;
    }

    #makeUnip:hover{
        background-color: #1793d1 !important;
        color: #ffffff !important;
    }
