/*Light theme. Add only colors to this file*/

body{
    background-color: #F9F9F9;
}


/* dropdown selectors:*/
.dropdown-menu{
    background-color: white;
}
.dropdown-item:hover{
    background-color: #eff8ff;
}

/* UNI_P */
.eventTable tr:hover, .personRow:hover, tr.teamRow:hover{
	background-color: #eff8ff;
}
/*team suggestions*/
.autocomplete-suggestion{
    background-color: white;
    color: black;
}
.autocomplete-suggestion:hover, .autocomplete-selected{
    background-color: #eff8ff;
    color: black;
}
#clubName{
    background-color: white;
    border: 1px solid #999;
}
#meetName{
    background-color: white;
}