/*Light theme. Add only colors to this file*/

body{
    background-color: white;
}

.topper {
    background-color: #404040;
    color: white;
}

.eventTable tr:hover, .personRow:hover{
	background-color: #eff8ff;
}
/*UNI_P*/

.autocomplete-suggestion{
    background-color: #FFF;
    color: black;
}
.autocomplete-suggestion:hover{
    background-color: #f8f9fa;
    color: black;
}