<div class="modal" tabindex="-1" role="dialog" id="modal-import-csv">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-import-csv-title" class="t">Importing</h5>
        </div>
        <div class="modal-body" id="modal-import-csv-body">
            <p id="modal-import-csv-body-status" class="t">Importing from tryggivann</p>
        <div class="progress">
          <div id="modal-import-csv-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </div>
      </div>
    </div>
  </div>