<div class="modal" id="modal-add-club" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title t" id="confirmationTitle">Add club</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto t" id="modal-add-club-info">
                        Add a new club to the list. If this club excists in medley.no then send us a message and we will add i it to the list. Please dont use abbreviations
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <input class="form-control col-8 justify-content-center" type="text" placeholder="club name" id="modal-add-club-content">
                    <div class="col-2"></div>
                </div>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger t" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-success t" id="modal-add-club-button-success">Confirm</button>
			</div>
		</div>
	</div>
</div>