<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>./victoria</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/base.css"></link>
		<link rel="stylesheet" href="/css/themes/themes.css">
		<link class="darkStyleSheet" rel="stylesheet" type ="text/css" href="/css/themes/dark.css" title="dark" disabled>
		<link class="lightStyleSheet" rel="stylesheet" type="text/css" href="/css/themes/light.css" title="light" disabled>

	</head>
	<body>
		<nav class="navbar" id="navbar">
			<a class="navbar-brand" href="https://balonbal.github.io/dot-slash-victoria">./victoria</a>
			<div class="btn-group dropdown d-none d-md-block">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="themeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-testid="themeButton">
					<span class="t">Theme</span> <span class="themeText"></span>
				</button>
				<div class="themeList dropdown-menu" aria-labelledby="themeDropdown" data-testid="themeList"></div>
			</div>
			<div class="btn-group dropleft d-none d-md-block">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-testid="languageButton">
					<span class="t">Language:</span> <span class="languageText"></span>
				</button>
				<div class="langList dropdown-menu" aria-labelledby="languageDropwown" data-testid="languageList"></div>
			</div>
		</nav>

		{{ content }}

		{% if page.modals %}
			{% for modal in page.modals %}
				{% include {{modal}} %}
			{% endfor %}
		{% endif %}

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{site.github.url}}/js/base.js"></script>
		<script type="text/javascript" src="{{site.github.url}}/js/themes.js"></script>
		<script type="text/javascript" src="{{site.github.url}}/js/translations.js"></script>
		{% for script in page.scripts %}
		<script type="text/javascript" src="{{site.github.url}}/js/{{script}}.js"></script>
		{% endfor %}
	</body>
</html>

