<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>./victoria</title>
		<link rel="stylesheet" type="text/css" href="{{site.github.url}}/css/base.css"></link>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>
		<link rel="alternate stylesheet" type ="text/css" href="{{site.url}}/css/themes/dark.css" title="dark"> 
	</head>
	<body>
		<nav class="navbar navbar-dark bg-primary">
			<a class="navbar-brand" href="https://balonbal.github.io/dot-slash-victoria">./victoria</a>
			<div class="btn-group dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="themeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-testid="themeButton">
					<span class="t">Theme:</span> <span class="themeText"></span>
				</button>
				<div class="themeList dropdown-menu" aria-labelledby="themeDropdown" data-testid="themeList"></div>
			</div>
			<div class="btn-group dropleft">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-testid="languageButton">
					<span class="t">Language:</span> <span class="languageText"></span>
				</button>
				<div class="langList dropdown-menu" aria-labelledby="languageDropwown" data-testid="languageList"></div>
			</div>
		</nav>

		{{ content }}

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{site.github.url}}/js/base.js"></script>
		<script type="text/javascript" src="{{site.github.url}}/js/themes.js"></script>
		<script type="text/javascript" src="{{site.github.url}}/js/translations.js"></script>
		{% for script in page.scripts %}
		<script type="text/javascript" src="{{site.github.url}}/js/{{script}}.js"></script>
		{% endfor %}
	</body>
</html>

